<h1>Listing recipe_steps</h1>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Step</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_steps.each do |recipe_step| %>
      <tr>
        <td><%= recipe_step.recipe_id %></td>
        <td><%= recipe_step.step_id %></td>
        <td><%= link_to 'Show', recipe_step %></td>
        <td><%= link_to 'Edit', edit_recipe_step_path(recipe_step) %></td>
        <td><%= link_to 'Destroy', recipe_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe step', new_recipe_step_path %>
